{% extends "base.html" %}



{% block css %}
	<link rel="stylesheet" href="../../static/user/css/login.css">
{% endblock %}


{% block navOptions %}
	<div class = "col s4 navLink searchOption">
		<a class = "navLinkTag" href = "/" target = __blank> Search </a>
	</div>
	
	<div class = "col s4 navLink foodOption">
		<a class = "navLinkTag" href = "/" target = __blank> Food </a>
	</div>
	<div class = "col s4 navLink chefOption">
		<a class = "navLinkTag" href = "/" target = __blank> Chef </a>
	</div>
{% endblock %}

{% block mainStruct %}
	<div class = "row loginSignUpRow">
		<div class = "col s7 topDishes">
			<ul id="topDishList">
				<li class="dishLi">
					<div class="card">
            			<div class="card-image">
              				<img class="dishImage" src="../../static/user/images/sample.jpg">
              				<span class="card-title">Card Title</span>
            			</div>
	            		<div class="card-content">
				            <p>I am a very simple card. I am good at containing small bits of information.
				              I am convenient because I require little markup to use effectively.</p>
	            		</div>
			            <div class="card-action">
			            	<a href="#">This is a link</a>
			            </div>
		            </div>
				</li>
				<li class="dishLi">Demo</li>
			</ul>
		</div>
		<div class = "col s5 signUpLoginSection">
			<a id="switchButton" value="Login">Sign Up</a>
			<h3 id="formTitle"> Sign Up </h3>
			<p id="errorMessage">{{lError_message}}</p>
			<form action = "/register" method = 'POST' id="signUpForm" class="loginPageForm">
					{% csrf_token %}
					{{ rform.as_p }}
				<input type='submit' value="Submit" class = "submitButton">
			</form>
			<form action = "/home" style="display:none" class="loginPageForm" method = 'POST' id="loginForm">
				{% csrf_token %}
				{{ lform.as_p }}
			<input type='submit' value="Enter" class = "submitButton">
			</form>
		</div>

	</div>
{% endblock %}}


{% block js %}
	<script src = "../../static/user/js/login.js"></script>
{% endblock %}



