body{
	background-color: white;
	/*height:100vh;*/



}

h1{
	text-align:center;
	background-color: lightblue;
	margin:0;
	padding:0;


}

.row .col {
	margin: 0;
	padding:0;


}

.navBar{

	/*height: 15%;*/
	margin: 0;
	padding:0;
	background-color: lightblue;
	
}

.websiteTitleCol{

	height:100%;
}

.navBarRightCol{

	height:100%;	

}

.navLink{

	height:100%;
	text-align: center;
	vertical-align: center;


}


.navLinkTag{

	font-size: 5vh;

}


#titleWords{
	text-decoration: underline;
	font-weight: bold;
	font-size: 10vh;
	text-align: center;
	background-color: lightblue;
	margin: 0;
	padding:0;
	height:100%;


}

#home{
	color: orange;

}

#food{

	color: red;

}

.navOptions{
	height:100%;
}

.mainStructRow{

	/*height:80%;*/
	margin:0;
	padding:0;
	

}

.adSpace{
	height:100%;
	width:200vh;
}

.mainStruct{
	height:100%;
	background-color:white;
	width:80%;
	border-right: double lightgrey 2px;
	border-left: double lightgrey 2px;

}


.bottomBar{
	height:5%;
	margin:0;
	padding:0;
	text-align: center;
	background-color: lightblue;

}
