<!DOCTYPE html>

<html>

	<head>
		<title> HomeFood </title>
		<link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css">
		<link rel="stylesheet" href="/static/user/css/base.css">

		{% block css %}
		{% endblock %}
	</head>



	<body>
		<div class="row navBar">
			<div class="col s4 websiteTitleCol">
				<div id = "titleWords">
					<a href="/">
					<span id="home">Home </span>
					<span id="food">Food </span>
					</a>
				</div>
			</div>
			<div class="col s8 navBarRightCol">
				<div class="row navOptions">
					<div class = "col s4 navLink searchOption">
						<a class = "navLinkTag" href = "/" target = __blank> Search </a>
					</div>
					<div class = "col s4 navLink foodOption">
						<a class = "navLinkTag" href = "/" target = __blank> Food </a>
					</div>
					<div class = "col s4 navLink chefOption">
						<a class = "navLinkTag" href = "/" target = __blank> Chef </a>
					</div>
				</div>
			</div>
		</div>

		<div class = "row mainStructRow">
			<div class = "col s1 promotionSpace">
			</div>
			<div class = "col s10 mainStruct">
				{% block mainStruct %}
				{% endblock %}
			</div>
			<div class = "col s1 promotionSpace">
			</div>
		</div>

		<div class = "row bottomBar">
			HomeFood LLC, Contact Info: +1 (012) 345-6789
		</div>



		{% block js %}
		{% endblock %}
	</body>



</html>